table {
    border-style: solid;
    border-color: black;
    width: 50%;
}
th, td {
    text-align: left;
    padding: 8px;
}
tr:nth-child(even){background-color: #DADADA}
th {
    background-color: #0957a3;
    color: white;
}